node_modules
dist
.turbo
.vite
coverage
.DS_Store
.env
.env.production
pnpm-lock.yaml
.npm-cache
.tmp
.uploads
*.log
*.tsbuildinfo
apps/api/prisma/dev.db
apps/api/prisma/dev.db-journal
Customer_Platform_API_TW.docx
GCP_Server_SSHKey/
SampleUI/
